*{
    margin: 0;
    font-family: 'Open Sans', sans-serif
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-text{
    color:#FD6E0A;
}
nav ul{
    display: flex;
    text-align: center;
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.ul-li-p-b{
    margin-top: 20px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.btn-pri{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    height: 60px;
    background: #FD6E0A;
    border: 0;
    padding: 18px 36px;
    border-radius: 5px;
}
.header{
    background: #FFF8F3;
    background-image: url(header_bg.png), url(developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    width: 1600px;
    height: 837px;
    left: 0px;
    top: 0px;

}


.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.banner-sub{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 5px;
}
.banner-title{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 5px;
}
.banner-discription{
    font-size: 18px;
    margin-bottom: 20px;
}
.contact{
    padding: 17px 35px;
    margin: 15px;
    border:2px solid #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}
.em-img{
    width: 584px;
    height: 676px;
    left: 978px;
    top: 161px;
}


main{
    max-width: 1140px;
    margin: 0 auto;
}
section{
    margin-top: 130px;
}
.section-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
    text-align: center;
    margin-bottom: 30px;
}
.section-description{
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}
.about{
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}
.about ul{
    display: flex;
    justify-content: space-around;
}
.about ul li{
    list-style: none;
}

/* what i do section */

.skills-conntainer{
    display: flex;
}
.skill{
    background-color: whitesmoke;
    padding: 30px;
    margin-right: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: large;
    padding-top: 24px;
    padding-bottom: 24px;
}
.skill-description{
    font-size: 16px;
}


.education{
    display: flex;
    margin-bottom: 100px;
    
}
.education-description{
    margin-right: 50px;
}
.edu-certificate-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 30px;
    padding-left: 170px;
}
.edu-institution{
    text-align: center;
    padding-left: 200px;
    color: #737272;
    font-weight: 400;
    font-size: 20px;
}

.cv-btn{
    text-align: center;
}
.footer{
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 190px;
    background-color: antiquewhite;
}
.footer-des{
    display: flex;
}
.footer-des .section-title{

    text-align: left;
    padding-bottom: 40px;
}

.footer-connect{
    text-align: left;
    margin-top: 130px;
    margin-left: 200px;
    margin-right: 100px;
}
.footer-massage{
    text-align: left;
    margin-top: 130px;
    margin-right: 200px;
}
input, textarea{
    padding-left: 20px;
    padding-right: 250px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 30px;
}
.footer-con-des{
    padding-bottom: 20px;
}
.footer-btn{
    margin-bottom: 130px;
}